fastapi
uvicorn[standard]
orjson
sqlalchemy
GeoAlchemy2
alembic
psycopg2-binary
geopy
requests
geopandas
shapely
pykrige
passlib
bcrypt<4.1
python-jose
python-multipart
python-dotenv
redis>=5.0
tqdm
anthropic
